# Example dnroute config file

# Uncomment this to send level 2 routing messages. or run with -2
# level 2

# Uncomment this to prevent dnroute from automatically setting routes for area 3
# manual 3

# By default, all interfaces have a cost of 4, you can change that here.
# eg. a multinet link might need a much higher cost than local ethernet.
# eth0 6
# tap0 10
